@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Dark-cyan: hsl(185, 75%, 39%);
  --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --Dark-grayish-blue: hsl(227, 10%, 46%);
  --Dark-gray: hsl(0, 0%, 59%);
}

body {
  font-family: "Kumbh sans", sans-serif;
  font-size: 18px;
  color: var(--Very-dark-desaturated-blue);
}

.main {
  background-image: url("./images/bg-pattern-top.svg"),
    url("./images/bg-pattern-bottom.svg");
  background-position: center;
  background-repeat: no repeat;
  background: var(--Dark-cyan);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: #fff;
  text-align: center;
  max-width: 350px;
  border-radius: 15px;
  overflow: hidden;
}

.up-container {
  height: 150px;
  width: 350px;
  background: url("./images/bg-pattern-card.svg");
  background-size: cover;
}

.image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin: -50px auto -30px auto;
  border: 5px solid #fff;
}

.image img {
  display: block;
  height: auto;
  width: 100%;
}

.card {
  margin-top: 54px;
  margin-bottom: -75px;
  height: 250px;
  line-height: 1.8rem;
}

.card .name {
  font-size: 1.4rem;
}

.card .city {
  margin-top: 10px;
}

.card .age,
.card .city {
  font-weight: 300;
  font-size: 1.1rem;
  color: var(--Dark-gray);
}

.down-container .act {
  display: block;
  font-weight: 300;
  font-size: 0.9rem;
  color: var(--Dark-gray);
  letter-spacing: 0.1rem;
}

.down-container {
  padding-top: 22px;
  padding-right: 40px;
  padding-left: 40px;
  border-top: 1px solid hsl(0, 10%, 88%);
  margin-top: 23px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* Copyright */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
